* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.conseil-beaute-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 2%;
  background-color: rgb(241, 209, 192, 0.5);
  justify-content: center;
  margin: 5% 10%;
}

.text-right {
  margin-right: 6%;
  padding: 1rem;
}

.soin-du-matin {
  border: 2px solid #000000;
  background-color: white;
  text-align: center;
}

.soin-du-matin {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.chiffre {
  text-align: center;
  font-size: 4rem;
  color: black;
}

/* ---MEDIA-QUERY------------------------------------------------------------------ */

@media screen and (min-width: 1200px) {
    .conseil-beaute-1 {
    margin: 3% 30%;
    }
}