@font-face {
  font-family: "MaPolice";
  src : url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
  font-stretch : normal;
  font-weight : normal;
  font-style : normal;
}




  