* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

/* ---HEADER--- */

/* ---BANIERE---------------------------------------------------------------- */

.baniere {
  /* padding: 0.8rem 0rem 1.5rem 0rem; */
  background-image: url("/images/main/fond-baniere-fleurs.2.jpg");
  background-size: 100%;
  height: 200px;

  z-index: 3;
  position: sticky;
  top: 0px;
}

.titres {
  display: flex;
  justify-content: center; /*alignement horizontal*/
}

.logo {
  top: 6%;
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 0rem 1rem 1rem 1rem;
}

h1 {
  color: rgb(0, 0, 0);
  margin-top: 60px;
  font-size: 2.5rem;
  font-family: "Vidaloka";
}

h2 {
  margin-top: -1rem;
  color: black;
  font-family: "Dancing script";
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.navbar {
  height: auto;
  margin: 0;
  background-color: white;
  position: relative; 
  justify-content: center;
}

/*---MEDIA-QUERY---------------------------------*/

@media screen and (min-width: 480px) {
  ul.menu-items {
    display: flex;
  }

  header {
    z-index: 3;
    position: sticky;
    top: 0px;
  }

  .burger-icon {
    display: none;
  }
}

/*--------------------------*/

@media screen and (max-width: 780px) {
  .logo {
    height: 78px;
    width: 78px;
  }

  h1 {
    font-size: 2.5rem;
  }
}

/*--------------------------*/

@media screen and (max-width: 480px) {
  .logo {
    height: 60px;
    width: 60px;
  }

  .baniere {
    height: 150px;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 30%;
  }

  h2 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
}
