* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

/* ---HEADER--- */

/* ---BANIERE---------------------------------------------------------------- */

.baniere {
  /* padding: 0.8rem 0rem 1.5rem 0rem; */
  background-image: url("/images/main/fond-baniere-fleurs.2.jpg");
  background-size: 100%;
  height: 200px;

  z-index: 3;
  position: sticky;
  top: 0px;
}

.titres {
  display: flex;
  justify-content: center; /*alignement horizontal*/
}

.logo {
  top: 6%;
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 0rem 1rem 1rem 1rem;
}

h1 {
  color: rgb(0, 0, 0);
  margin-top: 60px;
  font-size: 42px;
  font-family: "Nunito";
}

h2 {
  margin-top: -8px;
  color: black;
  font-family: Back to school regular;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.2rem;
}

/* ---BARRE-DE-NAVIGATION-------------------------------------------------------*/

.navbar {
  height: auto;
  display: flex;
  background-color: white;
}

.navbar li {
  text-align: center;
  background-color: #f1d1c0;
  border-radius: 50px;
  padding: 0.1rem 1rem;
  margin: 0.1em 0.4rem;
}

ul.menu-items {
  display: inline-grid;
  margin: 0px auto;
  width: fit-content;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(182, 105, 105);
  font-family: Nunito;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

/*---MEDIA-QUERY---------------------------------*/

@media screen and (min-width: 480px) {
  ul.menu-items {
    display: flex;
  }

  header {
    z-index: 3;
    position: sticky;
    top: 0px;
  }
}

/*--------------------------*/

@media screen and (max-width: 780px) {
  .logo {
    height: 78px;
    width: 78px;
  }

  h1{
    font-size: 36px;
  }
}

/*--------------------------*/

@media screen and (max-width: 480px) {
  .logo {
    height: 60px;
    width: 60px;
  }

  .baniere {
    height: 150px;
  }

  h1 {
    font-size: 22px;
    margin-top: 62px;
  }

  h2 {
    font-size: 15px;
    letter-spacing: 0.2rem;
  }
}
