* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

/* ---HEADER--- */

/* ---BANIERE---------------------------------------------------------------- */

.baniere {
  /* padding: 0.8rem 0rem 1.5rem 0rem; */
  background-image: url("/images/main/fond-baniere-fleurs.2.jpg");
  background-size: 100%;
  height: 200px;
  
  z-index: 3;
  position: sticky;
  top: 0px;
}

.titres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  top: 6%;
  position: absolute;
  height: 120px;
  width: 120px;
  margin: 0rem 1rem 1rem 1rem;
}

h1 {
  color: black;
  letter-spacing: 2rem;
  font-size: 4rem;
  text-align: center;
  font-family: "Nunito";
  letter-spacing: 0.5rem;
  margin-bottom: -10px;
}

h2 {
  color: black;
  font-family: Nunito;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.9rem;
  text-indent: 0.5rem;
}

.h2 {
  letter-spacing: 0.7rem;
}

/* ---BARRE-DE-NAVIGATION-------------------------------------------------------*/

.navbar {
  height: auto;
  display: flex;
  background-color: white;
}

.navbar li {
  text-align: center;
  background-color: #f1d1c0;
  border-radius: 50px;
  padding: 0.1rem 1rem;
  margin: 0.1em 0.4rem;
}

ul.menu-items {
  display: inline-grid;
  margin: 0px auto;
  width: fit-content;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(182, 105, 105);
  font-family: Nunito;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

/*---MEDIA-QUERY---------------------------------*/

@media screen and (min-width: 480px) {
  ul.menu-items {
    display: flex;
  }

  header {
    z-index: 3;
    position: sticky;
    top: 0px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    height: 60px;
    width: 60px;
  }

  .baniere {
  height: 150px;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: 0.8rem;
}
}