/* ---MAIN-------------------------------------------------------*/

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6;
}

.ligne {
  height: 0.1rem;
  background-color: rgb(182, 105, 105);
  margin: 0 10%;
}

img {
  width: 100%;
}

h3 {
  color: black;
  font-family: Dancing Script;
  font-size: 2rem;
  margin: 1.5rem 0rem 1.5rem;
  text-align: center;
}

h4 {
  margin: 0rem 0rem 1rem 0rem;
  font-size: 1.2rem;
  font-family: nunito;
  font-weight: bold;
}

h5 {
  font-size: 1.2rem;
}

main {
  letter-spacing: 0.1rem;
}

.container-type1,
.container-type2 {
  margin: 0.7rem;
  line-height: 2rem;
  font-size: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.container-type1 {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: start;
}

.offre-type2 {
  padding: 20px;
  border-left: solid black 2px;
  display: grid;
  grid-template-columns: 1fr;
}

.offre {
  border-left: solid black 2px;
  padding: 20px;
  margin-top: 20px;
  /* border: solid black 1px;*/
}

.duree-soins-visage {
  margin-top: 40px;
  text-align: right;
  min-height: 288px;
}

.duree-soins-corps {
  margin-top: 40px;
  text-align: right;
  height: 1px;
}

div.superposition div.image {
  transform: translateY(6%) translateX(-6%);
}

div.superposition img {
  width: 100%;
}

div.superposition-titre {
  position: absolute;
  right: 0px;

  top: 50px;
  color: rgb(2, 2, 2);
  background-color: rgb(255, 255, 255, 0.8);
  z-index: 2;
  padding: 0.4rem;
  font-size: larger;
}

div.superposition-titre h4 {
  margin: 0px;
}

div.superposition {
  position: relative;
  height: auto;
  height: 0;
  width: 90%;
  padding-bottom: 90%;
  margin-left: 7.5%;
  background-color: #de9b77f1;
} 

/*---------------------------------*/

.bouton {
  margin: 40px;
  text-align: center;
}

.bouton a {
  font-size: 1em;
}

/* ---MEDIA-QUERY------------------------------------------------------------------ */

@media screen and (max-width: 780px) {
  .container-parent {
    margin-bottom: 20px;
  }

  .exeption {
    text-align: left;
  }

  .offre-type2 {
    vertical-align: middle;
  }

  main {
    margin : 0 5%;
  }

  .exeption {
    text-align: left;
    /* white-space: pre-line; */
    margin-top: -1rem;
    line-break: strict;
    /* white-space: nowrap; */
    
}

/*--------------------------*/

@media screen and (min-width: 780px) {
  .container-type2 {
    vertical-align: middle;
  }

  .container-parent {
    margin: 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  .exeption {
    text-align: left;
  }

  .container-type2 {
    margin-left : 6%;
  }
}

/*-------------------------*/

@media screen and (min-width: 1200px) {
  .container-parent {
    margin: 0 9%;
    margin-bottom: 80px;
  }

  .exeption {
    text-align: left;
  }

  .offre-type2 {
    vertical-align: middle;
  }

  .container-type2 {
    margin-left : 10%;
  }
}






