@media screen and (max-width: 780px) {
  div.vignette_container {
    position: relative;
    height: auto;
    height: 0;
    width: 90%;
    padding-bottom: 90%;

    transform: translateX(10%);
    background-color: chocolate;
  }

  div.vignette_container div.picture {
    transform: translateY(10%) translateX(-10%);
  }

  div.vignette_container img {
    width: 100%;
  }

  div.titre {
    position: absolute;
    right: 0px;

    top: 50px;
    color: wheat;
    background-color: rgb(255, 190, 105);
    z-index: 3;
    padding: 0.4rem;
    font-size: larger;
  }

  div.titre h4 {
    margin: 0px;
  }
}
